///////////////////////////////////////////////////////////////////////
// At a minimum every palette defines a base colour,
// and then optionally adds tones use the following naming pattern:
//
// - x-dark
// - dark *
// - mid-dark
// - base (default)
// - mid-light
// - light *
// - x-light
//
//
// *If we have fewer than seven tones, we’ll define light and dark first to allow
// for adding intermediate tones at a later date.
//
// Use the palette function
//
// @link http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
//

$color-text-default: #333;
$palettes: (

    grey: (
        dark: darken(rgb(128, 128, 128), 10%),
        base: rgba(245, 245, 245, 1),
        light: rgba(128, 128, 128, .3),
        //text: rgba(149, 149, 149, 1),
        text: #515151,
        navs: rgba(99, 99, 99, 1),
        navborders: rgba(70, 70, 70, .3),
        bg: rgba(235, 235, 235, 1),
        bgwidgettitle: rgba(220, 220, 220, 1),
        bgwidget: rgba(240, 240, 240, 1),
        bgwidgetdate: rgba(210, 210, 210, 1),
        stroke: rgba(203, 203, 203, 1),
        postcounts: rgba(230, 230, 230, 1),
        lightgrey: lightgrey,
        video: rgba(0,0,0,0.65)
    ),
    white: (
        base: #fff,
        light: rgba(255, 255, 255, 0.8),
        lighter: rgba(255, 255, 255, .2),
    ),
    black: (
            base: #000,
            light: rgba(000, 000, 000, 0.8),
            lighter: rgba(000, 000, 000, .2),
            hover: rgba(000, 000, 000, .6),
    ),
    blue: (
        base: rgba(0, 29, 61, 1),
        basetrans: rgba(0, 29, 61, 0),
        light: rgba(0, 29, 61, 0.8),
    ),
    yellow: (
            base: rgba(188, 186, 0, 1),
            basetrans: rgba(188, 186, 0, 0),
            light: rgba(188, 186, 0, 0.8),
    ),
    green: (
        base: rgba(0, 29, 61, 1),
        light: rgba(0, 29, 61, 1),
        lighter: rgba(0, 29, 61, 1),
        basetrans: rgba(0, 29, 61, 1),
    )

);

///////////////////////////////////
// Access the colors in the $palettes map
// Example: color: palette(purple); color: palette(purple, light);
//
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}



// blue 001d3d
// yellow bcba00
