footer {
    background: #f1f1f1;
    display: block;
    position: relative;
    @include margin-top(1.5);
    clear: both;

    .column {
        margin-bottom: 2em;
        @include susy-breakpoint($breakpoint-large, $susy-large) {
            @include span(3 inside no-gutters);
        }
    }

    .copyright {
        clear: both;
        display: block;
        font-size: .9em;
        font-style: italic;
        text-align: center;
    }
}
