/_dump/

/app/www/wp-config-local.php
/app/www/wp-content/upgrade/
/app/www/wp-content/cache/
/app/www/wp-content/uploads
/app/www/wp-content/wp-rocket-config
/app/www/wp-content/mu-plugins/disable-plugins-when-doing-local-dev.php

/node_modules
.sass-cache
.DS_Store
.idea
