hr {
  @include line-height(.5);
  overflow: hidden;
  border: none;
  outline: none;
  border-bottom: 1px solid palette(grey, bg);
  @include padding-top(0);
  @include margin-top(1);
  @include margin-bottom(1.5);
}