.gform_wrapper {
    .gfield {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
}
.gform_footer {
    .privacy-statement {
        clear: both;
        font-style: italic;
        font-size: .9em;
        line-height: 1.1em;
        padding-top: 0;
    }
}