h1, h2, h3, h4, h5, h6 {
    @extend %tw-light;
    font-family: $font-family-headings;
    font-weight: normal;
    color: palette(blue, base);
    &.center {
        text-align: center;
    }

}

.txt_color_orange {
    color: palette(orange,base);
}

.headingOne {
    @include rem('font-size', ms(10));
    @include custom-line-height(2);
    @include susy-breakpoint($breakpoint-large, $susy-large) {
        @include rem('font-size', ms(12));
        @include custom-line-height(2.5);
    }
}

.headingTwo {
    // font-family: $font-family-headings-thin;
    @include rem('font-size', ms(3));
    @include custom-line-height(1.75);
    @include susy-breakpoint($breakpoint-large, $susy-large) {
        @include rem('font-size', ms(6));
        @include custom-line-height(1.75);
    }
}

.nieuwsTitel {
    // font-family: $font-family;
    font-weight: 900;
    @include rem('font-size', ms(3));
    @include susy-breakpoint($breakpoint-large, $susy-large) {
        @include rem('font-size', ms(3));
        @include custom-line-height(1.25);
    }
}

.singleTitle {
    font-family: $font-family-headings;
    color: palette(white,base);
    @include rem('font-size', ms(10));
    @include custom-line-height(2);
    @include susy-breakpoint($breakpoint-large, $susy-large) {
        @include rem('font-size', ms(12));
        @include custom-line-height(2.5);
        margin-left: span(2 wide);
    }
}

.nieuwsDate {
    color: palette(yellow,base);
    @include margin-bottom(.25);
}

.agendaDate {
    color: palette(yellow,base);

    font-family: $font-family;
    font-weight: 900;
    @include rem('font-size', ms(6));
    @include margin-bottom(.5);
    @include susy-breakpoint($breakpoint-large, $susy-large) {
        @include rem('font-size', ms(6));
        //@include custom-line-height(2.5);
    }
}

h1 {
    //noinspection SassScssUnresolvedPlaceholderSelector
    @extend %t-xxlarge;
    //@include susy-breakpoint($breakpoint-large, $susy-large) {
    //    @include set-font-size-variant(xxxlarge);
    //}
}

h2 {
    //noinspection SassScssUnresolvedPlaceholderSelector
    @extend %t-xxlarge;
}

h3 {
    //noinspection SassScssUnresolvedPlaceholderSelector
    @extend %t-xxlarge;
}

h4 {
    //noinspection SassScssUnresolvedPlaceholderSelector
    @extend %t-medium;
}

h5, h6 {
    //noinspection SassScssUnresolvedPlaceholderSelector
    @extend %t-medium;
}

.intro-title-wrap {
    display: block;
    position: relative;
    &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        @include line-height(1);
        border-bottom: 1px solid palette(grey,stroke);

    }
    .intro-title {
        display: inline-block;
        position: relative;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: palette(blue, base);
        text-align: left;
        z-index: 2;
        //font-weight: bold;
        &:before {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            right: -10px;
            left: 0;
            bottom: 0;
            background-color: palette(white,base);
            z-index: -1;
        }
        //@include rem('font-size', ms(0));
    }
}

.servicetitel {
    font-family: $font-family-special;
    @include rem('font-size', ms(7));
    font-weight: bold;
}