input {
    outline: none;
    border: none;
    @include rhythm-height(2);
    @include padding-left(1);
    @include padding-right(.5);
    @include margin-bottom(.5);
    @include rem('font-size', ms(0));
    border: 1px solid palette(grey, bg);
    box-sizing: border-box;
    margin: -1px;
    color: palette(black, base);
    font-family: $font-family;
    &:focus {
        outline: none;
        color: palette(black, base);
    }
    &[type=text], &[type=email], &[type=search] {
        display: block;
        padding-left: 10px;
        width: 100%;
        box-sizing: border-box;
    }
    &[type=submit] {
        //height: auto;
        @include rem('font-size', ms(0));
    }

    &[type=radio] {
        cursor: pointer;
        margin: 0 10px 0 3px !important;
        padding: 0;
    }

    &[type=file] {
        border: 0;
        margin: 0 !important;

        & + span {
            display: block;
        }
    }
}

span[role=alert] {
    display: none;
}

textarea {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    @include padding-top(.5);
    @include padding-bottom(.5);
    @include padding-left(1);
    @include padding-right(1);
    @include margin-bottom(.5);
    @include rem('font-size', ms(-1));
    border: 1px solid palette(grey, bg);
    box-sizing: border-box;
    margin: -1px;
    max-width: 100%;
    &:focus {
        outline: none;
    }
}

.input--text, .input--text:valid {
    @include rem('font-size', ms(-1));

    display: block;
    margin: 0;
    border: none;
    border-radius: 0;
}

.input--error, .input--text:invalid {
    border: 1px solid red;
}

.ginput_preview {
    img {
        width: auto;
    }
}