.jumbo {
  background-color: palette(blue, base);
  text-align: center;
  color: palette(white, base);
  @include margin-top(-3);
  @include padding-top(8);
  @include padding-bottom(8);

  background-image: url("img/jumbo_bg.jpg");
  background-repeat: repeat;
  background-position: top left;
  background-size: cover;

  h1, h2, h3 {
    font-weight: 200;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}