body {
  opacity: 0;
  .site__header {
    transform: translateY(-150%);
  }
  &.introducing, &.introduced {
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.08, 0.03, 0.22, 0.87);
    .site__header {
      transform: translateY(0);
      transition: transform 0.4s cubic-bezier(0.08, 0.03, 0.22, 0.87);
    }
  }
  &.tn-leaving {
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.08, 0.03, 0.22, 0.87);

    .site__header {
      transform: translateY(-100%);
      transition: transform 0.2s cubic-bezier(0.08, 0.03, 0.22, 0.87);
    }

  }
}

.reveal_in_viewport {
  //width: 300px;
  //height: 300px;
  //margin: 20px 50px;
  //background: red;
  /*transition: 1.5s;*/
  opacity: 0;
  /*not loaded*/
  transform-style: preserve-3d;
  // transform: rotateX(14deg) rotateY(6deg) rotate(1deg) translateY(15%);
  transform: translateY(20%) translateX(0);
  transition: transform 0.7s cubic-bezier(0.08, 0.03, 0.22, 0.87), opacity 0.5s cubic-bezier(0.08, 0.03, 0.22, 0.87);
}

.reveal_in_viewport.animate_now {
  /*transform : rotate(360deg); */
  transition-delay: 50ms;
  opacity: 1;
  // transform: rotateX(0deg) rotateY(0deg) rotate(0deg) translateY(0);
  transform: translateY(0);
}

//.scale.triggeredCSS3 {
//  transform: scale(1.6);
//}
//
//.translate.triggeredCSS3 {
//  transform: translate3d(400px, 0, 0);
//}




.da-thumbs {
  //flex-wrap: wrap;
  margin-left: 0rem;
  margin-right: 0rem;
  li {
    width: 300px;
    height: 300px;
    background: #fff;
    padding: 8px;
    position: relative;
    overflow: hidden;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    will-change: opacity,transform;
    transform-style: preserve-3d;
    &:before {
      content: normal;
    }
    a {
      display: block;
      position: relative;
      img {
        display: block;
        position: relative;
      }
      overflow: hidden;
      div {
        //background-color: rgba(000,69,68,.7);
        background: rgba(75, 75, 75, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        pointer-events: none;
        will-change: transform;
        //display: flex;
        //flex-flow: row wrap;
        transform: translateX(-100%);
        overflow: hidden;
      }
    }
  }
  .inner {
    display: block;
    position: relative;
    color: #fff;
    text-align: center;
    //display: flex;
    //flex-flow: row wrap;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
  }
}

/// now its sass
#burger {
  @include line-width(2.5);
  @include line-height(2.5);
  position: relative;
  //float: right;
  //margin-right: 5%;
  cursor: pointer;
  overflow: visible;
  //pointer-events: none;
  background-color: palette(white,base);

  @include padding-left(.5);
  @include padding-right(.5);
  @include padding-top(1);
  @include padding-bottom(.5);

  @include susy-breakpoint($breakpoint-large, $susy-large) {
    @include line-width(2.5);
    @include line-height(2.5);
  }

  .burger-span {
    display: block;
    position: absolute;
    //@include line-height(.2);
    height: 5px;
    @include line-width(1.4);
    overflow: hidden;
    top:25px;
    &:nth-child(2), &:nth-child(3) {
      @include absolute-top(1.4);
      @include line-width(1.5);
    }
    &.last {
      @include absolute-top(1.8);
      @include line-width(1.3);
    }
  }
  span.burger-block {
    display: block;
    position: absolute;
    //@include line-height(.3);
    height: 5px;
    @include line-width(2);
    will-change: transform;
    transform: translateX(-103%);
    background-color: palette(green,base);
  }
}

// test animation burger block

.nav-closed #burger .burger-span.last .burger-block,
.nav-closing #burger .burger-span.last .burger-block {
  transition: transform 0.4s cubic-bezier(0.5, 0.12, 0.26, 1) 1.15s;
}

.nav-closed #burger .burger-span:first-child .burger-block,
.nav-closing #burger .burger-span:first-child .burger-block {
  transition: transform 0.6s cubic-bezier(0.79, 0, 0.58, 0.95) 0.45s;
}

.introducing #burger .burger-span {
  &:nth-child(2) .burger-block, &:nth-child(3) .burger-block {
    animation: writeIn .3s ease-in forwards 1.41652s;
  }
  &.last .burger-block {
    animation: writeIn 0.4s cubic-bezier(0.5, 0.12, 0.26, 1) forwards 1.61652s;
  }
  &:first-child .burger-block {
    animation: writeIn 0.6s cubic-bezier(0.79, 0, 0.58, 0.95) forwards 0.91652s;
  }
}

.introduced #burger span.burger-block {
  transform: translateX(0);
  animation: none;
}

// close nav

.close-vector {
  width: 34px;
  height: 34px;
  cursor: pointer;
  position: absolute;
  margin-top: -9px;
}

.nav-open #burger .close-vector .close-line {
  stroke-dashoffset: 60px;
}

#burger .close-vector .close-line {
  stroke: palette(green,base);
  transition: stroke-dashoffset 0.5s cubic-bezier(0.08, 0.03, 0.22, 0.87);
}

.close-vector .close-line {
  stroke-dasharray: 30px;
  stroke-dashoffset: 90px;
  transition: stroke-dashoffset 0s cubic-bezier(0.08, 0.03, 0.22, 0.87) 1.5s;
}

#burger .close-vector .close-line.top-right-line {
  transition-delay: .3s;
}

.nav-closing #burger .close-vector .close-line {
  stroke-dashoffset: 30px;
}

.nav-closed #burger .close-vector .close-line, .nav-opening #burger .close-vector .close-line {
  transition-duration: 0s;
  stroke-dashoffset: 90px;
}

.nav-closed #burger .burger-span:first-child .burger-block,
.nav-closing #burger .burger-span:first-child .burger-block {
  transition: transform 0.6s cubic-bezier(0.79, 0, 0.58, 0.95) 0.45s;
}

.nav-closed #burger .burger-span {
  &:nth-child(2) .burger-block, &:nth-child(3) .burger-block {
    transition: transform .3s ease-in .95s;
  }
}

.nav-closing #burger .burger-span {
  &:nth-child(2) .burger-block, &:nth-child(3) .burger-block {
    transition: transform .3s ease-in .95s;
  }
}

.nav-closed #burger .burger-span.last .burger-block,
.nav-closing #burger .burger-span.last .burger-block {
  transition: transform 0.4s cubic-bezier(0.5, 0.12, 0.26, 1) 1.15s;
}

.nav-closed #burger .close-vector .close-line,
.nav-opening #burger .close-vector .close-line {
  transition-duration: 0s;
  stroke-dashoffset: 90px;
}

.nav-closed .menu-social .social-icons-nav a,
.nav-closing .menu-social .social-icons-nav a {
  transition: opacity .4s 0s, transform .4s .5s;
}

.nav-opening #burger {
  .burger-span {
    &:first-child .burger-block {
      transition: transform 0.6s cubic-bezier(0.79, 0, 0.58, 0.95);
    }
    &:nth-child(2) .burger-block, &:nth-child(3) .burger-block {
      transition: transform .3s ease-in .5s;
    }
    &.last .burger-block {
      transition: transform 0.4s cubic-bezier(0.5, 0.12, 0.26, 1) 0.7s;
    }
  }
  span.burger-block {
    transform: translateX(103%);
  }
}

.nav-open #burger span.burger-block {
  transform: translateX(-103%);
}



@keyframes writeIn {
  to {
    transform: translateX(0)
  }
}

@keyframes writeOut {
  to {
    transform: translateX(0);
  }
}