////////////////////////////////
// Establish baseline (mobile - first)
////////////////////////////////
@include establish-baseline();
@if ($debug) {
    html {
        @include debug-baseline-bg($base-line-height);
    }
}

////////////////////////////////
// Establish baseline for every breakpoint in $base-font-sizes
////////////////////////////////
@if variable-exists(base-font-sizes) {
    @each $key, $base-sizes in $base-font-sizes {
        @include breakpoint(map-get($base-sizes, 'breakpoint')) {
            // Store original values
            $orig-fs: $base-font-size;
            $orig-ln: $base-line-height;
            $orig-round: $round-to-nearest-half-line;
            @if (map_has_key($base-sizes, 'round-to-half-line')) {
                $round-to-nearest-half-line: map-get($base-sizes, 'round-to-half-line');
            }
            // Overwrite with settings from map
            $base-font-size: map-get($base-sizes, 'font-size') !global;
            $base-line-height: map-get($base-sizes, 'line-height') !global;
            @include establish-baseline($base-font-size);

            @if ($debug) {
                html {
                    @include debug-baseline-bg($base-line-height);
                }
            }
            // reset
            $base-font-size: $orig-fs !global;
            $base-line-height: $orig-ln !global;
            $round-to-nearest-half-line: $orig-round !global;
        }
    }
}

// Generate placeholders for every base variant
@each $name, $base-variant in $base-variants {
    %t-#{$name},
    .t-#{$name} {

        // Check if margin leader or trailers are specified
        // if not, default to one line
        $leader: map-get($base-variant, "leader");
        @if ($leader == null) {
            $leader: 1;
        }
        $trailer: map-get($base-variant, "trailer");
        @if ($trailer == null) {
            $trailer: 1;
        }

        @include adjust-font-size-to((map-get($base-variant, "font-size") / $base-font-size-for-calculations) *1em);
        @include rhythm($leader, 0, 0, $trailer);

        @each $key, $base-size in $base-font-sizes {
            // Generate breakpoint
            @include breakpoint(map-get($base-size, 'breakpoint')) {
                $orig-fs: $base-font-size;
                $orig-ln: $base-line-height;
                $orig-round: $round-to-nearest-half-line;
                @if (map_has_key($base-size, 'round-to-half-line')) {
                    $round-to-nearest-half-line: map-get($base-size, 'round-to-half-line');
                }
                $base-font-size: map-get($base-size, 'font-size') !global;
                $base-line-height: map-get($base-size, 'line-height') !global;
                @include adjust-font-size-to((map-get($base-variant, "font-size") / $base-font-size-for-calculations) *1em);
                @include rhythm($leader, 0, 0, $trailer);

                $base-font-size: $orig-fs !global;
                $base-line-height: $orig-ln !global;
                $round-to-nearest-half-line: $orig-round !global;

            }
        }
    }
}
